# Site settings
site: Mohamed El Majnioui - Personal blog
title: Mohamed El Majnioui
keywords: personal, blog, developer, it consultant, oss, ibm, security, apm, monitoring, observability, ruby, rails, nextjs, databases, ibm guardium, ibm instana, ibm sevone, programming, software development, cloud computing, devops
description: "Personal blog"
lang: en-US
timezone: Africa/Casablanca
repo: https://github.com/majnioui/majnioui.github.io
# Default image for social sharing (OG/Twitter). Use absolute URL or path from site root.
image: /assets/images/profile.webp
# Twitter handle for cards and attribution (optional)
twitter:
  username: m_majnioui

# Author settings
author:
  name: Mohamed El Majnioui
  bio: IT Consultant / Developer / OSS
  picture: assets/images/profile.webp
  github: majnioui
  twitter: m_majnioui
  instagram: m.majnioui
  linkedin: elmajnioui
  email: mo@majnioui.me


# URL settings
url: "https://majnioui.xyz"
permalink: pretty

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge


exclude:
  - .jekyll-cache
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-relative-links
  - jekyll-seo-tag
paginate: 20
paginate_path: "/page/:num"

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:slug

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

relative_links:
  enabled:     true
  collections: false
